<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392305382704-4t0t0so4h8piaonb205djnkc12rsasll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392305382704-4t0t0so4h8piaonb205djnkc12rsasll</string>
	<key>API_KEY</key>
	<string>AIzaSyDUeHY5IGB3ItWkyggSeBcm77TWXU41ajA</string>
	<key>GCM_SENDER_ID</key>
	<string>392305382704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hopea.stickynotes</string>
	<key>PROJECT_ID</key>
	<string>blog-8877</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-8877.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392305382704:ios:b6b7c5e06f6ac44bbae4f5</string>
	<key>DATABASE_URL</key>
	<string>https://blog-8877.firebaseio.com</string>
</dict>
</plist>